<div class="container">

  <div class="row" >

    <div class="col-lg-2" > 
        <div class="product ">
            <div class="gradient"></div>
            <img src="https://seeklogo.com/images/C/c-sharp-c-logo-02F17714BA-seeklogo.com.png" class="img-fluid" alt="">
        </div>
    </div>

    <div class="col-lg-2">
        <div class="product ">
            <div class="gradient"></div>
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/250px-Angular_full_color_logo.svg.png" class="img-fluid" alt="">
        </div>
    </div>

  </div>
</div>
