<app-titulo [titulo]="titulo"></app-titulo>

<form [formGroup]="registerForm">
  
  <!-- Email -->
  <div class="form-row">
    <div class="form-group col-md-4">

      <label>Email</label>

      <input type="text" 
             class="form-control is-invalid"
             placeholder="Insira o email" 
             formControlName="email" 
             [ngClass]="{'is-invalid': registerForm.get('email').errors && registerForm.get('email').touched}">

      <div *ngIf="registerForm.get('email').hasError('required') && registerForm.get('email').touched" 
           class="invalid-feedback">
        Email é obrigatório.
      </div>
      
      <div *ngIf="registerForm.get('email').hasError('email') && registerForm.get('email').touched" 
           class="invalid-feedback">
        Deve ser um e-mail válido.
      </div>

    </div>
  </div>

  <!-- Assunto -->
  <div class="form-row">
    <div class="form-group col-md-4">

      <label>Assunto</label>

      <input type="text"
             class="form-control" 
             placeholder=""
             formControlName="assunto" 
             [ngClass]="{'is-invalid': registerForm.get('assunto').errors && registerForm.get('assunto').touched}">

      <div *ngIf="registerForm.get('assunto').hasError('required') && registerForm.get('assunto').touched"
           class="invalid-feedback">
        Assunto é obrigatório.
      </div>

      <div *ngIf="registerForm.get('assunto').hasError('minlength') && registerForm.get('assunto').touched" 
           class="invalid-feedback">
        Tema deve ter no mínimo 4 Caracters.
      </div>

    </div>
  </div> 

  <!-- Botão Enviar -->
  <div>
    <button class="btn btn-primary ml-auto"
            [disabled]="!registerForm.valid"
            (click)="enviarEmail()">
      Enviar
    </button>
  </div>

</form>